# Assignmen -2 Data type and structure

Theory Questions & Answers:-


1. What are data structures, and why are they important?

Ans- Data structures are ways to organize and store data efficiently for access and modification.

2.  Explain the difference between mutable and immutable data types with examples.

Ans-  Mutable (e.g., list) can be changed. Immutable (e.g., string) cannot.

3.  What are the main differences between lists and tuples in Python?

Ans-  Lists are mutable and use []. Tuples are immutable and use ().

4. Describe how dictionaries store data.

Ans- Dictionaries store key-value pairs using hash tables.

5. Dictionaries store key-value pairs using hash tables.

Ans- Sets are used for uniqueness and fast lookup, unlike lists.

6. What is a string in Python, and how is it different from a list?

Ans- Strings are sequences of characters; lists are general containers.

7. How do tuples ensure data integrity in Python?

Ans- Tuples are immutable, ensuring data remains unchanged.

8.  What is a hash table, and how does it relate to dictionaries in Python?

Ans- A hash table maps keys to values using hash functions (used in dicts).

9. Can lists contain different data types in Python?

Ans- Yes, Python lists can store multiple data types.

10.  Explain why strings are immutable in Python.

Ans-  Strings are immutable to ensure consistency and efficiency.

11. What advantages do dictionaries offer over lists for certain tasks.

Ans- . Dictionaries offer O(1) key lookups, faster than lists.

12. Describe a scenario where using a tuple would be preferable over a list.

Ans- Tuples are preferable for fixed data, Tuples are great to use if we want the data in our collection to be read-only, never to change, and always remain the same and constant.

13.  How do sets handle duplicate values in Python?

Ans- Sets eliminate duplicates automatically.

14.  How does the “in” keyword work differently for lists and dictionaries?

Ans- 'in' checks values in lists, keys in dictionaries.

15. Can you modify the elements of a tuple? Explain why or why not?

Ans-  No, you cannot directly modify the elements of a tuple in Python after it's been created. Tuples are immutable, meaning their contents cannot be changed once they are defined. Trying to modify a tuple will result in a TypeError.

16. What is a nested dictionary, and give an example of its use case?

Ans- A nested dictionary in Python is a dictionary where the values are themselves dictionaries. Example-
employee = {
    "name": "Priyanshu kumar",
    "job_title": "Software Engineer",
    "address": {
        "street": "Hinjewadi",
        "city": "Pune",
        "state": "Maharastra",
        "zip": "124563"
    },
    "contact": {
        "phone": "123456789",
        "email": "priiyanshu@gmail.com"
    }
}


17. Describe the time complexity of accessing elements in a dictionary?

Ans- Dictionary access is average O(1) due to hashing.Dictionaries use a hash table internally which allows constant time lookup.

18.  In what situations are lists preferred over dictionaries?

Ans- Lists are preferred when order and duplicates are needed.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans- Dictionaries do not maintain any inherent order of the items based on when they were added.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

Ans-  Dictionary excels at quickly accessing values using unique keys, while a list retrieves values based on their position (index) in a sequence.

# Practicals Que & Ans

1.  Write a code to create a string with your name and print it.

In [3]:
name = "priyanshu"
print(name)

priyanshu

2. Find the length of the string "Hello World"

In [1]:
text = "Hello World"
print(len(text))

11

3. Slice the first 3 characters from the string "Python Programming"

In [4]:
s = "Python Programming"
print(s[:3])

Pyt

4. Convert the string "hello" to uppercase.

In [5]:
word = "hello"
print(word.upper())

HELLO

5. Replace the word "apple" with "orange" in the string "I like apple"

In [6]:
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

6. Create a list with numbers 1 to 5 and print it.

In [7]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Append the number 10 to the list [1, 2, 3, 4].

In [8]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

8. Remove the number 3 from the list [1, 2, 3, 4, 5].

In [9]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

9. Access the second element in the list ['a', 'b', 'c', 'd'].

In [10]:
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

10. Reverse the list [10, 20, 30, 40, 50].

In [11]:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

11. Create a tuple with the elements 100, 200, 300 and print it.

In [12]:
t = (100, 200, 300)
print(t)

(100, 200, 300)

12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [13]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

13. Find the minimum number in the tuple (10, 20, 5, 15).

In [14]:
t = (10, 20, 5, 15)
print(min(t))

5

14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [15]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

15. Create a tuple with three different fruits and check if "kiwi" is in it.

In [16]:
fruits = ("apple", "banana", "orange")
print("kiwi" in fruits)

False

16. Create a set with the elements 'a', 'b', 'c' and print it.

In [17]:
s = {'a', 'b', 'c'}
print(s)

{'b', 'a', 'c'}

17. Clear all elements from the set {1, 2, 3, 4, 5}.

In [18]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

18. Remove the element 4 from the set {1, 2, 3, 4}.

In [19]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

19. Find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [20]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [21]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

21. Create a dictionary with the keys "name", "age", and "city", and print it.

In [23]:
person = {"name": "priyanshu", "age": 27, "city": "Pune"}
print(person)

{'name': 'priyanshu', 'age': 27, 'city': 'Pune'}

22. Add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [24]:
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [25]:
d = {'name': 'Alice', 'age': 30}
print(d["name"])

Alice

24. Remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [26]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop("age")
print(d)

{'name': 'Bob', 'city': 'New York'}

25. Check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [27]:
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

26. Create a list, a tuple, and a dictionary, and print them all.

In [28]:
lst = [1, 2, 3]
tup = (4, 5, 6)
dct = {"a": 1, "b": 2}
print(lst, tup, dct)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

27. Create a list of 5 random numbers between 1 and 100, sort it, and print.

In [29]:
import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[11, 37, 74, 82, 91]

28. Create a list with strings and print the element at the third index.

In [30]:
lst = ["apple", "banana", "cherry", "date", "fig"]
print(lst[3])

date

29. Combine two dictionaries into one and print the result.

In [31]:
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Convert a list of strings into a set.

In [32]:
lst = ["apple", "banana", "apple", "cherry"]
s = set(lst)
print(s)

{'banana', 'cherry', 'apple'}